* {
  margin: 0;
  padding: 0;
  background-color: white;
  /* border: solid 1px black; */
  border-radius: 5px;
  color: black;
  /* border: double 5px white; */
}

body {
  width: 95vw;
  height: auto;
  margin: auto;
}

header {
  width: 100%;
  height: auto;

  color: black;
  text-align: center;
  line-height: 10vh;
  font-size: 28px;
}
h1 {
  font-size: 15rem;
  color: white;
  text-shadow: 2px 2px 5px black;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: 500;
}
nav {
  width: 100%;
  height: auto;
margin-top: 200px;
  color: black;
  text-align: center;
  line-height: 10vh;
  font-size: 20px;
 box-shadow: -2px -2px 10px 0px black;}
main {
  width: 100%;
  height: auto;
  min-height: 70vh;
 box-shadow: -2px -2px 10px 0px black;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.rotation {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.zone {
  width: 30%;

  height: auto;
}
.z2 {
 box-shadow: -1px -1px 10px 0px black;
   display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cadre {
 box-shadow: -2px -2px 10px 0px black;
   justify-content: space-evenly;
  width: 50px;
  height: 50px;

  margin: auto;
}

.carrousel {
  box-shadow: 0px 0px 40px 30px white;
  color: black;
  width: 100%;
  height: 280px;
  position: relative;
  animation: rotation 15s infinite linear;
}
footer {
  color: black;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 10vh;
  font-size: 20px;
}

@keyframes rotation {
  0% {
    top: 0%;
    left: 0%;
    /* transform: translatex(0px); */
  }
  50% {
    top: 0%;
    left: 100%;
    /* transform: translatex(2000px); */
  }
  100% {
    top: 0%;
    left: 0%;
    /* transform: translatex(0px); */
  }
}

.hz {
  display: flex;
  flex-direction: row;
}
.vr {
  display: flex;
  flex-direction: column;
}

/* #region logo */

/* #endregion logo */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}


.logo_conteneur2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  left: 10px;
  background-image: url("logo/logo.jpg");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center;
  z-index: 1000;
  border: solid 2px black;
  /* pointer-events: none; */
}
.logo_conteneur {
  position: fixed;
  top: 80%;
  left: 90%;
  z-index: 1000;
  /* pointer-events: none; */
}

.sun {
  transition: all 0.8s ease-in-out;
  box-shadow: -100px 0px 50px 1800px rgb(0, 0, 0);
  opacity: .99;
}

.moon {
  transition: all 0.4s ease-in-out;
}
.moon2 {
  /* box-shadow: -20px -20px 50px 50px rgba(255, 255, 0, 0.459); */
  opacity: .9;
}

/* #region defile */
.defile {
  width: 100%;
  height: 750px;
  overflow: hidden;
  position: relative;
  box-shadow: -2px -2px 10px 0px black;
}
.modeles {
  width: 100px;
  height: 100px;
  margin: 10px;
 box-shadow: -2px -2px 10px 0px black;
   animation: marche 10s infinite linear;
}
@keyframes marche {
  0% {
    transform: translate(50%, 0%);
  }
  10% {
    transform: translate(30%, 100%);
  }
  40% {
    transform: translate(30%, 600%);
  }
  45% {
    transform: translate(100%, 600%);
  }
  50% {
    transform: translate(200%, 600%);
  }
  55% {
    transform: translate(300%, 600%);
  }
  85% {
    transform: translate(300%, 0%);
  }
  90% {
    transform: translate(200%, 0%);
  }
  95% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(50%, 0%);
  }
}
/* #endregion defile */

/* #region  model*/
.modelz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mode4,
.mode3,
.mode2,
.mode1 {
  box-shadow: -2px -2px 10px 0px black;
  width: 200px;
  height: 300px;
  color: black;
  margin: 10px;
}
/* #endregion  */

/* #region  */

dl {
 box-shadow: -2px -2px 10px 0px black;
   margin: 20px;
  padding: 10px;
}
ol {
  margin: 20px;
  padding: 10px;
  list-style-type: upper-roman;
}

li {
 box-shadow: -2px -2px 10px 0px black;
}

/* #endregion  */

/* #region  */

/* #endregion  */
