* {
  margin: 0;
  padding: 0;
  background-color: black;
  /* border: solid 1px white; */
  border-radius: 5px;
  color: white;
  /* border: double 5px black; */
}

body {
  width: 95vw;
  height: auto;
  margin: auto;
}

header {
  width: 100%;
  height: auto;

  color: white;
  text-align: center;
  line-height: 10vh;
  font-size: 28px;
}
h1 {
  font-size: 15rem;
  color: black;
  text-shadow: 2px 2px 5px white;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: 500;
}
nav {
  width: 100%;
  height: auto;
margin-top: 200px;
  color: gainsboro;
  text-align: center;
  line-height: 10vh;
  font-size: 20px;
 box-shadow: 0px 0px 10px 0px white;}
main {
  width: 100%;
  height: auto;
  min-height: 70vh;
 box-shadow: 0px 0px 10px 0px white;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.rotation {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.zone {
  width: 30%;

  height: auto;
}
.z2 {
 box-shadow: 0px 0px 10px 0px white;
   display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cadre {
 box-shadow: 0px 0px 10px 0px white;
   justify-content: space-evenly;
  width: 50px;
  height: 50px;

  margin: auto;
}

.carrousel {
  box-shadow: 0px 0px 40px 30px black;
  color: white;
  width: 100%;
  height: 280px;
  position: relative;
  animation: rotation 15s infinite linear;
}
footer {
  color: white;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 10vh;
  font-size: 20px;
}

@keyframes rotation {
  0% {
    top: 0%;
    left: 0%;
    /* transform: translatex(0px); */
  }
  50% {
    top: 0%;
    left: 100%;
    /* transform: translatex(2000px); */
  }
  100% {
    top: 0%;
    left: 0%;
    /* transform: translatex(0px); */
  }
}

.hz {
  display: flex;
  flex-direction: row;
}
.vr {
  display: flex;
  flex-direction: column;
}

/* #region logo */

/* #endregion logo */
.logo_conteneur {
  box-shadow: 0px 0px 100px 100px black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  left: 5px;
  opacity: .8;
  background-image: url("logo/logo.jpg");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center;
  z-index: 1000;
  border: solid 2px white;
  pointer-events: none;
}


/* #region defile */
.defile {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}
.modeles {
  width: 100px;
  height: 100px;
  margin: 10px;
 box-shadow: 0px 0px 10px 0px white;
   animation: marche 10s infinite linear;
}
@keyframes marche {
  0% {
    transform: translate(50%, 0%);
  }
  10% {
    transform: translate(30%, 100%);
  }
  40% {
    transform: translate(30%, 600%);
  }
  45% {
    transform: translate(100%, 600%);
  }
  50% {
    transform: translate(200%, 600%);
  }
  55% {
    transform: translate(300%, 600%);
  }
  85% {
    transform: translate(300%, 0%);
  }
  90% {
    transform: translate(200%, 0%);
  }
  95% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(50%, 0%);
  }
}
/* #endregion defile */

/* #region  model*/
.modelz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mode4,
.mode3,
.mode2,
.mode1 {
  box-shadow: 0px 0px 10px 0px white;
  width: 200px;
  height: 300px;
  color: white;
  margin: 10px;
}
/* #endregion  */

/* #region  */

dl {
 box-shadow: 0px 0px 10px 0px white;
   margin: 20px;
  padding: 10px;
}
ol {
  margin: 20px;
  padding: 10px;
  list-style-type: upper-roman;
}

li {
 box-shadow: 0px 0px 10px 0px white;
}

/* #endregion  */

/* #region  */

/* #endregion  */
