@media (max-width: 400px) {
  body {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    border: solid 2px black;
  }

  header {
    width: 99%;
    height: auto;
  }
  h1 {
    font-size: 4.5rem;
    position: fixed;
    top: 50px;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 500;
    pointer-events: none;
  }
  .logo_conteneur2 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: fixed;
    top: 10px;
    left: -5px;
    background-image: url("logo/logo.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    z-index: 1000;
  }
.text {
  position: fixed;
  font-size: 1.2rem;
  color: white;
  width: 80%;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 2px 2px 5px black;
  z-index: 1001;

}

.textOn {
  top: 100%;
  left: 100%;
}
.textOff {
  top: 100px;
  left: 70px;
}


  nav {
    margin-top: 120px;
  }

  .zone {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .z2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .defile {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 10px 0px black;
}
}
