@media (max-width: 400px) {
  body {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
  }

  .logo_conteneur {
    width: 100px;
    height: 100px;
}

  header {
      width: 99%;
      height: auto;
    }
    h1 {
      border: solid 1px red;
    text-align: right;
    margin:30px 10px 0 0;
    
    }
  


  .zone {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .z2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
